html {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: linear-gradient( rgba(254,255,0,1) 0%, rgba(121,118,9,1) 35%, rgba(2,0,36,1)100%);
}

nav {
	margin: 0;
	background-color: rgb(182, 179, 9);
	margin-bottom: 1rem;
}

.link {
	margin-left: 2rem;
}

.construct {
	position:absolute;
	width: 100vw;
	z-index: -100;
	top: 40vh
}

.commentInputWrap {
	border: 2px solid green;
	margin-bottom: 15px;
}

.commentInput {

}

.commentBtn {

}

.commentWrapper {
	border: 2px solid salmon;
	border-radius: 15px;
	padding: 15px 15px 0 15px;
	background-color: aqua;
}

.commentItem {
	background-color: antiquewhite;
	border: 2px solid rgb(139, 114, 250);
	font-size: 1.2rem;
	border-radius: 5px;
	list-style: none;
	margin-bottom: 15px;
	padding: 5px
}
p:nth-child(1) {
	font-size: 1.2rem;
	font-weight: bold;
}

.commenterName {
	font-weight: bold;
}