:root {
--background: #AEC3B0;
--wrap: #124559 ;
--item: #EFF6E0;
--text: #01161E;
--nav: #598392;
}

html {
	color: var(--text);
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: var(--background);
}

nav {
	margin: 0;
	background-color: var(--nav);
	margin-bottom: 1rem;
}

.navLink {
	margin-left: 2rem;
}

