.form {
    width: 45%;
    margin: 0 auto;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-family: inherit;
}

.submit {
    margin-right: 15px;
}

.close {
    margin-right: 15px;
}