* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}

nav {
    margin-top: 10px;
    line-height: 25px;
}